.navbar {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: #121619;
    padding: 0 32px;
}

#close .hiddenLinks {
    display: none;
}

#open .hiddenLinks {
    display: block;
}

.leftSide img{
    width: 70px;
    margin-left: 32px;
}

.leftSide a,
.rightSide a{
    color: #fff;
    text-decoration: none;
    padding: 16px;
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
}

.leftSide{
    flex: 50%;
}

.rightSide{
    flex: 50%;
    display: flex;
    justify-content: flex-end;
}

.rightSide button{
    display: none;   
}

